section#contact {
    margin: auto;
    font-size: 40px;
    padding: 100px;
    background-color: #212529;
    background-image: url("../../images/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .col-sm-12, .col-md-12{
    padding:0px !important;
  }
  
  section#contact .section-heading {
    color: #fff;
  }
  
  section#contact .form-group {
    margin-bottom: 0px;
  }
  
  section#contact .form-group input,
  section#contact .form-group textarea {
    padding: 20px;
  }
  
  section#contact .form-group input.form-control {
    height: auto;
    margin-bottom: -20px;
  }
  
  section#contact .form-group textarea.form-control {
    height: 248px;
  }
  
  section#contact .form-control:focus {
    border-color: #fed136;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #686d72;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: #686d72;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #686d72;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #686d72;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }