textarea{
    height: 300px;
}
#abs{
    text-align: center;
    margin:auto;
}
.fill {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: stretch;
}
.buttonPlus{
    border-radius: 100%;
    text-align: center;
    vertical-align: center;
    margin: auto;
    min-width: 67px;
    font-size: 30px;
}

input[type=text], input[type=submit]{
    width: inherit;
    text-align: center
}

.float-right {
    float: right !important;
    margin-left: 100%;
}

input[name=img]{
    width:70%;
}

Button[name=imgbutton]{
    width:30%;
}